@import "inventory-174x60/*.png";

// Generate the medium columns for a row of 5 columns
@mixin make-md-column-5($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:   ($gutter / 2);
  padding-right:  ($gutter / 2);
  padding-top:    ($gutter / 2);
  padding-bottom: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / 5));
  }
}

@include all-inventory-174x60-sprites;

.inventory {
  @include make-md-column(9);
  
  ul {
    @include make-row();
    list-style-type: none;
    
    li {
      @include make-md-column-5(1, 6px);
      
      button {
        width: 100%;
        min-height: 80px;
        padding: 0px;
      }
    }
    
  }
  
  .inventory-item-title {
    position: relative;
    text-align: center;
    top: 29px;
    background-color: #EFEFEF;
    color: black;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
  }
  
  .inventory-item-used {
    position: absolute;
    right: 5px;
    top: 5px;
  }
    
}

.mixer {
  
  @include make-md-column(3);
  
  .mixer-recipient {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    min-height: 200px;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
  }
  
  .mixer-buttons {
    @include make-row();
    margin-bottom: 10px;
    
    .mixer-buttons-blend {
      @include make-md-column(5);
      @include make-md-column-offset(1);
    }
    
    .mixer-buttons-clean {
      @include make-md-column(5);
    }
    
    button {
      width: 100%;
    }
  }
  
  .mixer-result {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    min-height: 200px;
  }
  
}
